.TodoApp {
  background-color: #fff;
  max-width: 80rem;
  margin: 50px auto;
  padding: 5rem;
  position: relative;
  box-shadow: 
  0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 550px) {
  .TodoApp {
    padding: 4rem;
    border-radius: 6px;
  }
}

.TodoApp > * {
  margin-left: auto;
  margin-right: auto;
}
.TodoApp > form {
  max-width: 100%;
}
.TodoApp > h1 {
  display: block;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.input__lg {
  padding: 2rem;
  border: 2px solid #666;
}
.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}
[class*="__lg"] {
  display: inline-block;
  width: 100%;
  font-size: 1.9rem;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (max-width: 620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}