.nav {
  background-color: #666;
  height: 10vh;
}

.nav ul {
  width: 80%;
  display: flex;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #f5f1f1;
  padding: 20px 10px;
  display: block;
  font-size: large;
}

.nav a:hover {
  color: #c4c0c0;
}

@media screen and (max-width: 640px) {
  .nav {
    height: 10vh;
  }

  .nav ul {
    flex-direction: column;
    padding: 0;
  }

  .nav li {
    border-bottom: solid 1px #fff;
    padding: 10px;
  }
}