.SlideHome {
  width: 80%;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.swiper-slide {
  height: 450px;
  text-align: center;
  font-size: 30px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide p {
  padding: 20%;
}

.swiper-slide img {
  height: 350px;

}

@media screen and (min-width: 620px) {
  .SlideHome {
    width: 100%;
  }
}